{{ define "main" }}
<div class="home-intro">
<div class="profile-section">
<div class="profile-image-container">
<img src="images/research/soph7.jpeg" alt="Professional photo" style="width: 250px; height: 350px; border-radius: 8px; object-fit: cover;">
</div>
<div class="welcome-text">
<p>Welcome!</p>
<p>I am a PhD candidate in Political Science at <a href="https://www.uu.se/en/department/government.html">Uppsala University</a>, where I study how political elites shape public attitudes and democratic support through their words and actions, both offline and on social media.</p>
<p>My research focuses on the intersection of political behavior, communication, and gender. I examine how elite communication influences social identities and support for liberal democracy, with particular attention to the politics of gender and sexuality. This includes studying patterns of selective liberalism and the risks of liberal backsliding in contemporary democracies. My work has been presented at leading conferences in Political Science, and has received the 2025 APSA John Sullivan Award. </p>
<p>Methodologically, I combine experimental research with Natural Language Processing (NLP) and am expanding my toolkit for causal inference.</p>
<p>During my PhD, I have been a visiting researcher at Columbia University (spring 2025) and am currently visiting the European University Institute (autumn 2025). I am affiliated with the <a href="https://liu.se/en/research/research-school-in-computational-social-science">Swedish Interdisciplinary Research School in Computational Social Science (SIRCSS)</a> and the <a href="https://wasp-hs.org/"> Wallenberg AI, Autonomous Systems and Software Program – Humanity and Society (WASP-HS) </a>.</p>
<p>You are more than welcome to reach out if you're interested in my work or would like to collaborate.</p>
</div>
{{ end }}